<form method="post">
    <div style="padding-right: 10px;">
        <label for="roomCode">Room <br> Code</label>
        <input name="roomCode" type="text" />
    </div>
    <div>
        <label for="displayName">Display <br> Name</label>
        <input name="displayName" type="text" />
    </div>
    <div>
        <button id="submit">Submit</button>
    </div>
</form>
