<form class="room-form" method="post">
    <div style="padding-right: 10px;">
        <label for="roomCode">Room <br> Code</label>
        <input required id="roomCode" name="roomCode" type="text" autocomplete="off" />
    </div>
    <div>
        <label for="displayName">Display <br> Name</label>
        <input required id="displayName" name="displayName" type="text" autocomplete="off" />
    </div>
    <div>
        <button id="submit">Submit</button>
    </div>
</form>
