<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/styles/index.css" />
<link rel="stylesheet" href="/styles/general_game.css" />
<link rel="icon" href="/images/icons/favicon.ico" sizes="any">
<link rel="icon" href="/images/icons/favicon.svg" type="image/svg+xml">