<nav class="navbar">
    <div class="navbar-title-div">
        <span class="navbar-title">HackCade</span>
        <button id="navbarDropdownButton">&#x25BC;</button>
    </div>
    <div id="navbarLine" class="navbar-line hidden"></div>
    <div id="navbarActions" class="navbar-actions">
        <a href="#" class="navbar-action">How2Play</a>
        <a href="#" class="navbar-action">About Me</a>
        <a href="#" class="navbar-action">Settings</a>
    </div>
</nav>