<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <header>
        <%- include("./partials/navbar.ejs") %>
    </header>
    <main>
        <div class="gamesGrid">
            <% for (let game in games) { %>
                <%= games[game] %>
            <% } %>
        </div>
    </main>
</body>

</html>

<!-- 
    Checkers.start_playing()
    if player.isHungry():
        checkers.alert("Go and eat")
    else:
        checkers.alert("Go and prepare food so you will eat when you are hungry")

    checkers.turnOfThePC()
-