<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/how2play.css" />
</head>
<body>
    <header>
        <%- include("./partials/navbar.ejs") %>
    </header>
    <main>
        <section>
            <h1>How to Create/Join A Room</h1>
            <p>
                Within a game, type in a room code of your choice. It should be a bit special. This is the code your friend will use to join the room.
                Type that along with your display name and press submit, and that should be it. Both fields must be 30 characters or less
            </p>
        </section>
        <section>
            <h1>
                What to do when in a game?
            </h1>
            <p>
                The rules of each game are mostly standard, so look up how to play a game if you don't know how.
                Once you create a room, you can make the first move but will have to wait for an opponent to continue.
                You can also play locally if you have a friend beside you, but you shouldn't join any room for that.
                The first person to join a room becomes the room leader. The room leader is the only one who can restart
                the game. When a room leader leaves, the leader role is reassigned randomly.
            </p>
        </section>
    </main>
    <script>
            // definition of variables
            const showNavbarActions = document.getElementById("navbarDropdownButton");
            const navbarLine = document.getElementById("navbarLine");
            const navbarActions = document.getElementById("navbarActions");
            const mediaQuery = window.matchMedia("(max-width: 760px)");
            
            let isNavbarToggled = false;

            // toggle navbar dropdown on or off
            showNavbarActions.addEventListener("click", () => {
                isNavbarToggled = !isNavbarToggled;
                if (isNavbarToggled) {
                    navbarLine.className = "navbar-line";
                    navbarActions.className = "navbar-actions"
                    showNavbarActions.innerHTML = "&#x25B2;";
                } else {
                    navbarLine.className = "navbar-line hidden";
                    navbarActions.className = "navbar-actions hidden";
                    showNavbarActions.innerHTML = "&#x25BC;";
                }
            });
            function handleMediaChange(e) {
                navbarLine.className = "navbar-line hidden";
                isNavbarToggled = false;
                if (e.matches) {
                    showNavbarActions.innerHTML = "&#x25BC;";
                    navbarActions.className = "navbar-actions hidden"
                    showNavbarActions.className = "";
                } else {
                    showNavbarActions.className = "hidden";
                    navbarActions.className = "navbar-actions"
                }
            }
            mediaQuery.addEventListener("change", e => handleMediaChange(e))
            handleMediaChange(mediaQuery);
    </script>
</body>

</html>

<!-- 
    Checkers.start_playing()
    if player.isHungry():
        checkers.alert("Go and eat")
    else:
        checkers.alert("Go and prepare food so you will eat when you are hungry")

    checkers.turnOfThePC()
-