<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/texty.css" />
</head>
<body>
    <header>
        <%- include("./partials/navbar.ejs") %>
    </header>
    <main class="center" style="display: flex; align-items: center; justify-content: center;">
        <h1 style="font-size: 40px;">We can't find what you're looking for :)</h1>
    </main>
    <script>
            // definition of variables
            const showNavbarActions = document.getElementById("navbarDropdownButton");
            const navbarLine = document.getElementById("navbarLine");
            const navbarActions = document.getElementById("navbarActions");
            const mediaQuery = window.matchMedia("(max-width: 760px)");
            
            let isNavbarToggled = false;

            // toggle navbar dropdown on or off
            showNavbarActions.addEventListener("click", () => {
                isNavbarToggled = !isNavbarToggled;
                if (isNavbarToggled) {
                    navbarLine.className = "navbar-line";
                    navbarActions.className = "navbar-actions"
                    showNavbarActions.innerHTML = "&#x25B2;";
                } else {
                    navbarLine.className = "navbar-line hidden";
                    navbarActions.className = "navbar-actions hidden";
                    showNavbarActions.innerHTML = "&#x25BC;";
                }
            });
            function handleMediaChange(e) {
                navbarLine.className = "navbar-line hidden";
                isNavbarToggled = false;
                if (e.matches) {
                    showNavbarActions.innerHTML = "&#x25BC;";
                    navbarActions.className = "navbar-actions hidden"
                    showNavbarActions.className = "";
                } else {
                    showNavbarActions.className = "hidden";
                    navbarActions.className = "navbar-actions"
                }
            }
            mediaQuery.addEventListener("change", e => handleMediaChange(e))
            handleMediaChange(mediaQuery);
    </script>
</body>

</html>

<!-- 
    Checkers.start_playing()
    if player.isHungry():
        checkers.alert("Go and eat")
    else:
        checkers.alert("Go and prepare food so you will eat when you are hungry")

    checkers.turnOfThePC()
-