<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <header><%- include("./partials/navbar.ejs") %></header>
        <main>
            <button id="hideFormButton" class="form-shown">Hide Form</button>
            <div class="gameArea">
                <%- include("./partials/form.ejs") %>
                <canvas id="board"></canvas>
                <div class="game-info">
                    <span id="isConnectedText" class="red">Not Connected</span>
                    <span class="separator">.</span>
                    <span id="faceOffText">You (x) vs (o) Local</span>
                    <span class="separator">.</span>
                    <span id="turnText" class="green">X's Turn (You)</span>
                </div>
            </div>
            <div class="actionButtons">
                <button id="leaveButton">Leave Room</button>
                <button id="restartButton">Restart Game</button>
            </div>
       </main>
        <script>
            // definition of variables
            const ws = new WebSocket(`wss://${window.location.host}`);

            const form = document.querySelector(".room-form");
            const roomCodeInput = document.getElementById("roomCode");
            const displayNameInput = document.getElementById("displayName");
            const submitButton = document.querySelector(".room-form button");
            const hideFormButton = document.getElementById("hideFormButton");
            const showNavbarActions = document.getElementById("navbarDropdownButton");
            const navbarLine = document.getElementById("navbarLine");
            const navbarActions = document.getElementById("navbarActions");
            const restartButton = document.getElementById("restartButton");
            const mediaQuery = window.matchMedia("(max-width: 760px)");
            
            const isConnectedText = document.getElementById("isConnectedText");
            const faceOffText = document.getElementById("faceOffText");
            const turnText = document.getElementById("turnText");
            const leaveButton = document.getElementById("leaveButton");
            
            const lastCode = localStorage.getItem("recentRoomCode");
            const lastName = localStorage.getItem("displayName");

            let isRoomLeader = false;
            let isNavbarToggled = false;

            let opponentNames = [];

            // fill the form with the last values entered
            if (lastCode != null) roomCodeInput.value = lastCode;
            if (lastName != null) displayNameInput.value = lastName;

            let room = null;
            let isMyTurn = false;
            
            const canvas = document.getElementById("board");
            const context = canvas.getContext("2d");
            
            // get dimension-related properties of gameboard
            canvas.width = canvas.getBoundingClientRect().width;
            let previousWidth = canvas.width;
            canvas.height = canvas.width;
            let shapeRadius = 70 * (canvas.width / 720);
            let boardPadding = 20 * (canvas.width / 720);
            
            // updates the dimension-related properties of the gameboard with new dimensions
            const updateBoardDimensions = () => {
                const newWidth = canvas.getBoundingClientRect().width;
                if (newWidth === previousWidth) return;

                // sync with animation redraw
                requestAnimationFrame(() => {
                    previousWidth = newWidth;
                    canvas.width = newWidth;
                    canvas.height = newWidth;
                    shapeRadius = 70 * (newWidth / 720);
                    boardPadding = 20 * (newWidth / 720);
                })
            };

            context.lineWidth = 5;
            context.strokeStyle = "white";
            context.lineCap = "round";
            let board = ["", "", "", "", "", "", "", "", ""];

            let currentPlayer = "x";
            let isWon = false;


            // toggle navbar dropdown on or off
            showNavbarActions.addEventListener("click", () => {
                isNavbarToggled = !isNavbarToggled;
                if (isNavbarToggled) {
                    navbarLine.className = "navbar-line";
                    navbarActions.className = "navbar-actions"
                    showNavbarActions.innerHTML = "&#x25B2;";
                } else {
                    navbarLine.className = "navbar-line hidden";
                    navbarActions.className = "navbar-actions hidden";
                    showNavbarActions.innerHTML = "&#x25BC;";
                }
            });

            // leave room on click
            leaveButton.addEventListener('click', (e) => {
                leaveRoom();
            })
            
            // changes styles of navbar based on screen dimensions
            function handleMediaChange(e) {
                navbarLine.className = "navbar-line hidden";
                isNavbarToggled = false;
                if (e.matches) {
                    showNavbarActions.innerHTML = "&#x25BC;";
                    navbarActions.className = "navbar-actions hidden"
                    showNavbarActions.className = "";
                } else {
                    showNavbarActions.className = "hidden";
                    navbarActions.className = "navbar-actions"
                }
            }
            
            mediaQuery.addEventListener("change", handleMediaChange);

            // connect to room on submit and save values
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                localStorage.setItem("recentRoomCode", form["roomCode"].value);
                localStorage.setItem("displayName", form["displayName"].value);

                connectToRoom(
                    form["roomCode"].value,
                    form["displayName"].value,
                );
            });

            // toggle room form on or off
            hideFormButton.addEventListener("click", () => {
                if (form.classList.contains("hidden")) {
                    form.classList.remove("hidden");
                    hideFormButton.innerText = "Hide Form";
                } else {
                    form.classList.add("hidden");
                    hideFormButton.innerText = "Show Form";
                }
            });

            // handle when a user clicks on the canvas (tries to make a move)
            canvas.addEventListener("click", (e) => {
                if (!isMyTurn && room != null) return;
                if (isWon) return;

                // get position of click relative to board (x, y)
                const x = Math.floor(
                    Math.max(0, Math.min(e.offsetX, canvas.width)) /
                        (canvas.width / 3),
                );
                const y = Math.floor(
                    Math.max(Math.min(e.offsetY, canvas.height), 0) /
                        (canvas.height / 3),
                );
                const index = y * 3 + x;

                // add move if spot is empty
                if (board[index] === "") {
                    board[index] = currentPlayer;
                    const result = checkGameWon(currentPlayer);
                    
                    drawBoard();

                    // if local player has won game, broadcast the fact
                    if (result.isWon === true) {
                        drawWinningLine(result.type);
                        isWon = true;

                        turnText.innerText = `${currentPlayer.toUpperCase()} Wins (You)`;
                        turnText.style.color = "gold";

                        isMyTurn = !isMyTurn;
                        if (room != null) sendMove(index);

                        if (room != null) {
                            ws.send(JSON.stringify({
                                event: "broadcastroom",
                                roomCode: room.roomCode,
                                body: {
                                    event: "won",
                                    player: currentPlayer
                                }
                            }));
                        }
                        currentPlayer = currentPlayer === "x" ? "o" : "x";
                        if (room != null) updateState();
                    } else {
                        isMyTurn = !isMyTurn;
                        if (room != null) sendMove(index);
                        currentPlayer = currentPlayer === "x" ? "o" : "x";
                        turnText.innerText = `${currentPlayer.toUpperCase()}'s Turn (${isMyTurn ? "You" : "Opponent"})`;
                        turnText.style.color = isMyTurn ? "green" : "white";
                        if (room != null) updateState();
                    }
               }
            });

            function checkGameWon(playerSign) {
                if (
                    board[0] === board[1] &&
                    board[1] === board[2] &&
                    board[0] === playerSign
                )
                    return { isWon: true, type: 1 };
                if (
                    board[0] === board[3] &&
                    board[3] === board[6] &&
                    board[0] === playerSign
                )
                    return { isWon: true, type: 4 };
                if (
                    board[0] === board[4] &&
                    board[4] === board[8] &&
                    board[0] === playerSign
                )
                    return { isWon: true, type: 7 };
                if (
                    board[1] === board[4] &&
                    board[4] === board[7] &&
                    board[1] === playerSign
                )
                    return { isWon: true, type: 5 };
                if (
                    board[2] === board[5] &&
                    board[5] === board[8] &&
                    board[2] === playerSign
                )
                    return { isWon: true, type: 6 };
                if (
                    board[2] === board[4] &&
                    board[4] === board[6] &&
                    board[2] === playerSign
                )
                    return { isWon: true, type: 8 };
                if (
                    board[3] === board[4] &&
                    board[4] === board[5] &&
                    board[3] === playerSign
                )
                    return { isWon: true, type: 2 };
                if (
                    board[6] === board[7] &&
                    board[7] === board[8] &&
                    board[6] === playerSign
                )
                    return { isWon: true, type: 3 };
                return { isWon: false, type: null };
            }

            function drawWinningLine(type) {
                let x1,
                    y1,
                    x2,
                    y2 = 0;
                switch (type) {
                    case 1:
                        x1 = boardPadding * 3;
                        x2 = canvas.width - boardPadding * 3;
                        y1 = canvas.height / 6;
                        y2 = y1;
                        break;
                    case 2:
                        x1 = boardPadding * 3;
                        x2 = canvas.width - boardPadding * 3;
                        y1 = (canvas.height / 3) * 1 + canvas.height / 6;
                        y2 = y1;
                        break;
                    case 3:
                        x1 = boardPadding * 3;
                        x2 = canvas.width - boardPadding * 3;
                        y1 = (canvas.height / 3) * 2 + canvas.height / 6;
                        y2 = y1;
                        break;
                    case 4:
                        y1 = boardPadding * 3;
                        y2 = canvas.height - boardPadding * 3;
                        x1 = canvas.width / 6;
                        x2 = x1;
                        break;
                    case 5:
                        y1 = boardPadding * 3;
                        y2 = canvas.height - boardPadding * 3;
                        x1 = (canvas.width / 3) * 1 + canvas.width / 6;
                        x2 = x1;
                        break;
                    case 6:
                        y1 = boardPadding * 3;
                        y2 = canvas.height - boardPadding * 3;
                        x1 = (canvas.width / 3) * 2 + canvas.width / 6;
                        x2 = x1;
                        break;
                    case 7:
                        y1 = boardPadding * 3;
                        x1 = boardPadding * 3;
                        y2 = canvas.height - boardPadding * 3;
                        x2 = canvas.width - boardPadding * 3;
                        break;
                    case 8:
                        y1 = boardPadding * 3;
                        x1 = canvas.width - boardPadding * 3;
                        y2 = canvas.height - boardPadding * 3;
                        x2 = boardPadding * 3;
                        break;
                }
                context.lineWidth = 2;
                context.strokeStyle = "#a000c0";
                context.beginPath();
                context.moveTo(x1, y1);
                context.lineTo(x2, y2);
                context.stroke();
                context.closePath();
                context.strokeStyle = "white";
                context.lineWidth = 5;
            }

            function drawBoard() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                for (let i = 1; i < 3; i++) {
                    context.beginPath();
                    context.moveTo(boardPadding, (canvas.height / 3) * i);
                    context.lineTo(
                        canvas.width - boardPadding,
                        (canvas.height / 3) * i,
                    );
                    context.stroke();
                    context.closePath();

                    context.beginPath();
                    context.moveTo((canvas.width / 3) * i, boardPadding);
                    context.lineTo(
                        (canvas.width / 3) * i,
                        canvas.height - boardPadding,
                    );
                    context.stroke();
                    context.closePath();
                }

                for (let i = 0; i < 9; i++) {
                    const x = i % 3;
                    const y = Math.floor(i / 3);
                    const tileCenterX =
                        (canvas.width / 3) * x + canvas.width / 6;
                    const tileCenterY =
                        (canvas.height / 3) * y + canvas.height / 6;

                    if (board[i] === "o") {
                        context.beginPath();
                        context.arc(
                            tileCenterX,
                            tileCenterY,
                            shapeRadius,
                            0,
                            2 * Math.PI,
                        );
                        context.closePath();
                        context.stroke();
                    } else if (board[i] === "x") {
                        context.beginPath();
                        context.moveTo(
                            tileCenterX - shapeRadius,
                            tileCenterY - shapeRadius,
                        );
                        context.lineTo(
                            tileCenterX + shapeRadius,
                            tileCenterY + shapeRadius,
                        );
                        context.stroke();
                        context.closePath();

                        context.beginPath();
                        context.moveTo(
                            tileCenterX - shapeRadius,
                            tileCenterY + shapeRadius,
                        );
                        context.lineTo(
                            tileCenterX + shapeRadius,
                            tileCenterY - shapeRadius,
                        );
                        context.stroke();
                        context.closePath();
                    }
                }
            }

            function sendMove(position) {
                ws.send(
                    JSON.stringify({
                        event: "broadcastroom",
                        roomCode: room.roomCode,
                        body: {
                            event: "move",
                            position: position,
                        },
                    }),
                );
            }

            function updateState() {
                ws.send(
                    JSON.stringify({
                        event: "updatestate",
                        roomCode: room.roomCode,
                        gameState: {
                            board: board,
                            currentPlayer: currentPlayer,
                            isWon: isWon,
                        },
                        isTurn: isMyTurn,
                    })
                )
            }

            function leaveRoom() {
                if (room == null) return;
                ws.send(
                    JSON.stringify({
                        event: "broadcastroom",
                        roomCode: room.roomCode,
                        body: {
                            event: "leaving",
                        },
                    }),
                );
                ws.send(
                    JSON.stringify(
                        {
                            event: "leaveroom",
                        }
                    )
                )
                isWon = false;
                room = null;
                isConnectedText.innerText = "Not Connected";
                isConnectedText.className = "red";
                faceOffText.innerText = "You (x) vs (o) Local";
                turnText.innerText = "X's Turn (You)"
                turnText.style.color = "green";
                currentPlayer = "x";
                isMyTurn = true;
                board = Array(9).fill("");
                drawBoard();
            }

            function connectToRoom(roomCode, displayName) {
                room = null;
                isWon = false;
                // get the number of people in the room
                // if first person, send initial state as well as info
                fetch(`/numberinroom/${roomCode}`).then(async (res) => {
                    const jsonData = await res.json();
                    if (jsonData["event"] === "givenumberinroom") {
                        ws.send(
                            JSON.stringify({
                                event: "roomconnect",
                                roomCode: roomCode,
                                displayName: displayName,
                                gameName: "tictactoe",
                            }),
                        );
                    } else {
                        ws.send(
                            JSON.stringify({
                                event: "roomconnect",
                                roomCode: roomCode,
                                displayName: displayName,
                                gameName: "tictactoe",
                                initialState: {
                                    board: Array(9).fill(""),
                                    currentPlayer: "x",
                                    isWon: false,
                                },
                            }),
                        );
                    }
                });
            }

            function restartGame() {
                if (!isRoomLeader && room != null) return;
                isWon = false;
                const mySign = isMyTurn ? currentPlayer : (currentPlayer == "x" ? "o" : "x");
                turnText.innerText = `${mySign.toUpperCase()}'s Turn (You)`;

                turnText.style.color = "green";
                if (room != null) {
                    faceOffText.innerText = `You (${mySign}) vs (${mySign == "x" ? "o" : "x"}) ${opponentNames[0] == null ? "Nobody" : opponentNames[0]}`;
                } else {
                    faceOffText.innerText = "You (x) vs (o) Local"
                }
                isMyTurn = isRoomLeader || (room == null);
                board = Array(9).fill("");
                currentPlayer = mySign;

                if (room != null) {
                    updateState();
                    ws.send(JSON.stringify({
                        event: "broadcastroom",
                        roomCode: room.roomCode,
                        body: {
                            event: "restart",
                        }
                    }))
                           let boardPadding = 20 * (canvas.width / 720);
}
                drawBoard();
            }

            restartButton.addEventListener("click", () => {
                restartGame();
            })

            // socket handle
            ws.addEventListener("open", () => {
                console.log("Connected to websocket");
                ws.addEventListener("message", (e) => {
                    const data = JSON.parse(e.data);
                    if (data["event"] == "roomconnected") {
                        console.log(
                            `Connected to room with room code ${data["roomCode"]}`,
                        );
                        board = data["gameState"].board;
                        room = {
                            roomCode: data["roomCode"],
                            numberOfPlayers: data["numberOfPlayers"],
                        };

                        currentPlayer = data["gameState"].currentPlayer;
                        isRoomLeader = data["isRoomLeader"];
                        isMyTurn = data["isTurn"];
                        isConnectedText.innerText = "Connected";
                        isConnectedText.className = "green";
                        const mySign = isMyTurn ? currentPlayer : (currentPlayer === "x" ? "o" : "x");
                        opponentNames = data["opponentNames"]
                        faceOffText.innerText = `You (${mySign}) vs (${mySign == "x" ? "o" : "x"}) ${opponentNames[0] == null ? "Nobody" : opponentNames[0]}`; 
                        turnText.innerText = `${currentPlayer.toUpperCase()}'s Turn (${isMyTurn ? "You" : "Opponent"})`;
                        turnText.style.color = isMyTurn ? "green" : "white";
                        ws.send(JSON.stringify({
                            event: "broadcastroom",
                            roomCode: room.roomCode,
                            body: {
                                event: "justjoined",
                                displayName: localStorage.getItem("displayName"),
                            }
                        }))
                        const result = checkGameWon(currentPlayer == "x" ? "o" : "x");
                        drawBoard();

                        // if local player has won game, broadcast the fact
                        if (result.isWon === true) {
                            drawWinningLine(result.type);
                            isWon = true;

                            turnText.innerText = `${(currentPlayer == "x" ? "o" : "x").toUpperCase()} Wins (${isMyTurn ? "Opponent" : "You"})`;
                            turnText.style.color = isMyTurn ? "white" : "gold";
                        }
                    } else if (data["event"] == "roomnotconnected") {
                        alert(
                            `Could not connect because ${data["reason"]}`,
                        );

                    } else if (data["event"] == "move") {
                        if (isWon) return;
                        const index = data["position"]; 
                        const x = index % 3;
                        const y = Math.floor(index / 3);

                        if (board[index] === "") {
                            board[index] = currentPlayer;
                            drawBoard();
                            const result = checkGameWon(currentPlayer);
                            if (result.isWon === true) {
                                drawWinningLine(result.type);
                                isWon = true;

                                turnText.innerText = `${currentPlayer.toUpperCase()} Wins (Opponent)`;
                                turnText.style.color = "#ccc";

                                isMyTurn = !isMyTurn;

                                currentPlayer = currentPlayer === "x" ? "o" : "x";
                            } else {
                                isMyTurn = !isMyTurn;
                                currentPlayer = currentPlayer === "x" ? "o" : "x";
                                turnText.innerText = `${currentPlayer.toUpperCase()}'s Turn (${isMyTurn ? "You" : "Opponent"})`;
                                turnText.style.color = isMyTurn ? "green" : "white";
                            }
                        }
                    } else if (data["event"] == "justjoined") {
                        // update the versus text
                        const mySign = isMyTurn ? currentPlayer : (currentPlayer === "x" ? "o" : "x");
                        faceOffText.innerText = `You (${mySign}) vs (${mySign == "x" ? "o" : "x"}) ${data["displayName"]}`;
                        opponentNames.push(data["displayName"]);
                    } else if (data["event"] == "leaving") {
                        const mySign = isMyTurn ? currentPlayer : (currentPlayer === "x" ? "o" : "x");
                        faceOffText.innerText = `You (${mySign}) vs (${mySign == "x" ? "o" : "x"}) Nobody`;
                    } else if (data["event"] == "restart") {
                        const otherSign = !isMyTurn ? currentPlayer : (currentPlayer === "x" ? "o" : "x");
                        isWon = false;
                        turnText.innerText = `${otherSign.toUpperCase()}'s Turn (Opponent)`
                        turnText.style.color = "white";
                        currentPlayer = otherSign;
                        isMyTurn = isRoomLeader || (room == null);
                        board = Array(9).fill("");

                        drawBoard();
                    } else if (data["event"] == "leader") {
                        isRoomLeader = true;
                    } else if (data["event"] == "newopponentlist") {
                        opponentNames = data["opponentNames"];
                    }
                });
            });

            handleMediaChange(mediaQuery);
            drawBoard();
        </script>
    </body>
</html>
