.navbar {
    padding: 20px;
    background-color: #a000a0;
    display: flex;
    align-items: center;
}

.navbar-title {
    font-size: 2.5em;
    font-weight: bold;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-action {
    color: white;
    margin-left: 20px;
    font-size: 1.25em ;
    text-decoration: none;
}

.navbar-action:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

@media screen and (max-width: 760px){
    .navbar-title {
        font-size: 2.0em;
    }

    .navbar-action {
        display: none;
    }

}